@{
    ViewData["Title"] = "Home Page";
}
@model Dish
<div class="text-center">
    <p><a href="/">Chefs</a> | <a href="/dishes">Dishes</a> | <a href="/chefs/new">Add a Chef</a> | Add a Dish</p>
    <h1 >Add a dish</h1>
</div>


<div class="row text-center">
<div>
<form action="/Add_dish" method="post">
        <div class="form-group">
            <label for="Name">Name of Dish</label>
            <span asp-validation-for="Name" class="text-danger"></span>
            <input asp-for="Name" class="form-control">
        </div>
        <div class="form-group">
            <label for="Calories"># of Calories</label>
            <span asp-validation-for="Calories" class="text-danger"></span>
            <input asp-for="Calories" class="form-control">
        </div>
        <div class="form-group">
            <label for="Tastiness">Tastiness</label>
            <select asp-for="Tastiness" class="form-control">
                <option value=null>--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span asp-validation-for="Tastiness" class="text-danger"></span>
        </div class="form-group">
        <div>
            <label for="">Chef's name</label>
            <select asp-for="ChefId" class="form-control">
                <option value=null>---Select---</option>    
                @foreach (Chef p in ViewBag.AllChefs)
                {
                <option value="@p.ChefId">@p.FirstName</option>
                }
            </select>
        </div>

        <input type="submit" value="Add Dish" class="btn btn-success">
    </form>
</div>