@model LogUser


<form action="/user/login" method="post">
    <div class="form-group">
        <Label for="LogEmail">Email</Label>
        <input asp-for="LogEmail" class="form-control">
        <span asp-validation-for="LogEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <Label for="LogPassword">Password</Label>
        <input asp-for="LogPassword" class="form-control">
        <span asp-validation-for="LogPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Login" class="btn btn-info">
    </div>
</form>