<form action="submit" method="post">
    <div>
        <label>Your Name:</label>
        <input type="text" name="Name" id="Name">
    </div>
    <div>
        <label>Dojo Location:</label>
        <select name="Location" id="Location">
            <option value="San Jose">San Jose</option>
            <!-- Add more location options here if needed -->
        </select>
    </div>
    <div>
        <label>Favorite Language:</label>
        <select name="Language" id="Language">
            <option value="C#">C#</option>
            <!-- Add more language options here if needed -->
        </select>
    </div>
    <div>
        <label>Comments:</label>
        <textarea name="Comment" id="Comment" cols="30" rows="10"></textarea>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
