@model Dojo

<div class="text-center">
    <h1>Submitted Info</h1>
    <p>Name:@Model.Name </p>
    <p>Dojo Location:@Model.Location</p>
    <p>Favorite Language: @Model.Language</p>
    <p>Comment : @Model.Comment</p>
</div>